.header{
    width: 100%;
    height: 88px;
    background-color: #2A2C2F;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header__logo{
  height: 69px;
  width: 254px;
  margin-top: 34px;
}

@media screen and (min-width: 545px) {
  .header {
    height: 120px;
  }

  .header__logo {
    width: 220px;
    height: 60px;
  }
}
@media screen and (min-width: 1025px) {
  .header {
    height: 150px;
  }

  .header__logo {
    width: 254px;
    height: 69px;
  }
}