.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #2A2C2F;
  padding: 48px 16px 32px;
}

.hero__title {
  font-family: "Inter", sans-serif;
  font-weight: 900;
  color: #ffffff;
  font-size: 2.5rem;
  line-height: 1.1;
  text-align: center;
  max-width: 288px;
  margin: 0 0 16px;
}

.hero__subtitle {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  color: #ffffff;
  font-size: 1rem;
  line-height: 1.25;
  text-align: center;
  max-width: 288px;
  margin: 0;
}
.hero__image{
 display: block;
  width: 100%;
  max-width: 288px;   /* ancho real mobile */
  height: auto;
  margin: 32px auto 0;
  object-fit: contain;
  filter: grayscale(100%);

}

@media screen and (min-width: 545px) {
  .hero {
    padding: 64px 24px 48px;
  }

  .hero__title {
    font-size: 3.75rem;
    max-width: 640px;
  }

  .hero__subtitle {
    font-size: 1.25rem;
    max-width: 640px;
  }
  .hero__image {
    max-width: 720px;
    margin-top: 48px;
  }
}
@media screen and (min-width: 1025px) {
  .hero {
    padding: 96px 0 64px;
  }

  .hero__title {
    font-size: 6rem;
    max-width: 720px;
  }

  .hero__subtitle {
    font-size: 2rem;
    max-width: 720px;
  }
}
