.quote {
  display: flex;
  flex-direction: column;
  background-color: #2A2C2F;
  color: #ffffff;
  row-gap: 16px;

  max-width: 800px;  
  margin: 0 auto; 
  
}

.quote__section {
  max-width: 800px;
}

.quote__title {
  font-size: 2rem;
  font-weight: 900;
}

.quote__text {
  font-size: 1.5rem;
  line-height: 34px;
}

.quote__author {
  font-size: 1.5rem;
  text-align: right;
}

.quote__paragraph {
  font-size: 1rem;
  line-height: 34px;

}

@media screen and (max-width: 544px) {
  .quote {
    max-width: 288px;
  }
}

@media screen and (min-width: 545px) {
  .quote {
    max-width: 640px;
  }
}

@media screen and (min-width: 1024px) {
  .quote {
    max-width: 800px;
  }
}